/* common  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* header - menu */
.menu {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1; 
}
.menu a {
    border: 1px solid;
    border-radius: 50%;
    float: right;
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* caratteristiche main  */
main {
    z-index: 2;
}

/* struttura box  */
.box {
    position: relative; 
    width: 100%;
    height: 100vh;
}

/* interno box img + text  */
figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
figcaption {
    text-align: center;
    font-size: 300%;
    width: 100%;
}

a::hover {
    cursor: pointer;
}

/* colori box  */
#red {
    background-color: red;
    color: yellow;
}

#green {
    background: green;
    color: yellow;
}

#yellow {
    background: yellow;
    color: green;
}


/* come faccio a "nascondere" le tab 2-3 e mostrarle solo quando premo sul link 1 - 2 - 3? */